<nz-tabset>
    <nz-tab nzTitle="Related articles">
        <div *ngIf="articles.length > 0">
            <ol class="related-articles">
                <li *ngFor="let article of articles let i=index let odd=odd">
                    <span class="title">{{ article.title }}</span>
                    <span class="edit" (click)="showModal()">编辑</span>
                    <span class="date">2022-08-12</span>
                    <span class="icon" *ngIf="article.usable">
                        <i nz-icon nzType="check" nzTheme="outline"></i>
                    </span>
                    <span class="icon close" *ngIf="!article.usable">
                        <i nz-icon nzType="close" nzTheme="outline"></i>
                    </span>
                </li>
            </ol>
            <div>
                <button nz-button nzType="primary" (click)="onClick()">Create Now</button>
            </div>
        </div>
        <nz-empty
            *ngIf="articles.length === 0"
            nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
            [nzNotFoundContent]="contentTpl"
            [nzNotFoundFooter]="footerTpl"
            >
            <ng-template #contentTpl>
                <span>
                    Customize
                    <a href="#API">Description</a>
                </span>
            </ng-template>
            <ng-template #footerTpl>
                <button nz-button nzType="primary" (click)="onClick()">Create Now</button>
            </ng-template>
        </nz-empty>

        <nz-modal
            [nzWidth]="600"
            [nzCentered]="true"
            [(nzVisible)]="isVisible"
            nzTitle="Modal Title"
            (nzOnCancel)="handleCancel()"
            (nzOnOk)="handleOk()"
            [nzOkLoading]="isOkLoading"
            >
            <div *nzModalContent>
                <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title">标题</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                            <!-- <input nz-input autoComplete="off" formControlName="title" id="title" /> -->
                            <textarea
                                nz-input
                                placeholder="输入"
                                [nzAutosize]="{ minRows: 2, maxRows: 6 }"
                                formControlName="title"
                                autoComplete="off"
                                id="title"
                            ></textarea>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24">唯一标识</nz-form-label>
                            <nz-form-control [nzSm]="14" [nzXs]="24">
                                {{ validateForm.controls.id.value }}
                            </nz-form-control>
                        </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="types" nzRequired>选择适用的标签</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24">
                            <nz-checkbox-group formControlName="types" [(ngModel)]="checkOptionsOne" (ngModelChange)="log(checkOptionsOne)"></nz-checkbox-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label
                            [nzSm]="6"
                            [nzXs]="24"
                            nzFor="file"
                            nzRequired
                            nzTooltipTitle="What do you want other to call you"
                        >
                            <span>文件</span>
                        </nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24">
                            <!-- <input nz-input id="nickname" autoComplete="off" formControlName="nickname" /> -->
                            <nz-upload
                                id="file"
                                nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                                [nzHeaders]="{ authorization: 'authorization-text' }"
                                (nzChange)="handleChange($event)"
                                >
                                <button nz-button>
                                    <i nz-icon nzType="upload"></i>
                                    上传文件
                                </button>
                            </nz-upload>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="usable" nzRequired>启用</nz-form-label>
                        <nz-form-control
                            [nzSm]="14"
                            [nzXs]="24"
                        >
                            <nz-switch formControlName="usable"></nz-switch>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="website" nzRequired>Website</nz-form-label>
                            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input website!">
                            <input nz-input id="website" autoComplete="off" formControlName="website" placeholder="website" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label
                            [nzSm]="6"
                            [nzXs]="24"
                            nzFor="captcha"
                            nzRequired
                            nzTooltipTitle="Please click 'Get captcha'"
                            [nzTooltipIcon]="captchaTooltipIcon"
                        >
                            Captcha
                        </nz-form-label>
                        <nz-form-control
                            [nzSm]="14"
                            [nzXs]="24"
                            nzErrorTip="Please input the captcha you got!"
                            nzExtra="We must make sure that your are a human."
                        >
                            <div nz-row [nzGutter]="8">
                                <div nz-col [nzSpan]="12">
                                    <input nz-input autoComplete="off" formControlName="captcha" id="captcha" />
                                </div>
                                <div nz-col [nzSpan]="12">
                                    <button nz-button (click)="getCaptcha($event)">Get captcha</button>
                                </div>
                            </div>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item nz-row class="register-area">
                        <nz-form-control [nzSpan]="14" [nzOffset]="6">
                            <label nz-checkbox formControlName="agree">
                                <span>
                                    I have read the
                                    <a>agreement</a>
                                </span>
                            </label>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item nz-row class="register-area">
                        <nz-form-control [nzSpan]="14" [nzOffset]="6">
                            <button nz-button nzType="primary">Register</button>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </div>
        </nz-modal>
    </nz-tab>
    <nz-tab nzTitle="Advanced query">
        <div class="articles-header">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
                <input type="text" nz-input placeholder="搜索你需要查找的条目" />
            </nz-input-group>
            <ng-template #suffixButton>
                <button nz-button nzType="primary" nzSearch>Search</button>
            </ng-template>
            <div class="query-tag">
                <nz-tag [nzColor]="'magenta'">magenta</nz-tag>
                <nz-tag [nzColor]="'red'">red</nz-tag>
                <nz-tag [nzColor]="'volcano'">volcano</nz-tag>
                <nz-tag [nzColor]="'orange'">orange</nz-tag>
                <nz-tag [nzColor]="'gold'">gold</nz-tag>
                <nz-tag [nzColor]="'lime'">lime</nz-tag>
                <nz-tag [nzColor]="'green'">green</nz-tag>
                <nz-tag [nzColor]="'cyan'">cyan</nz-tag>
                <nz-tag [nzColor]="'blue'">blue</nz-tag>
                <nz-tag [nzColor]="'geekblue'">geekblue</nz-tag>
                <nz-tag [nzColor]="'purple'">purple</nz-tag>
            </div>
        </div>
    </nz-tab>
    <nz-tab nzTitle="Components" [nzForceRender]="true">
        <div id="echart"></div>
    </nz-tab>
    <nz-tab nzTitle="About">谁知道呢</nz-tab>
</nz-tabset>