<div class="first-textarea">
    <textarea [(ngModel)]="firstValue" nz-input placeholder="Controlled autosize" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
</div>

<nz-radio-group [(ngModel)]="radioValue">
    <label nz-radio nzValue="decodeURI">decodeURI</label>
    <label nz-radio nzValue="decodeURIComponent">decodeURIComponent</label>
</nz-radio-group>

<div class="next-textarea">
    <textarea [(ngModel)]="nextValue" nz-input placeholder="Controlled autosize" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
</div>

<div class="actions">
    <nz-space>
        <button nz-button *nzSpaceItem nzType="primary" (click)="decoding()">解码</button>
        <button nz-button *nzSpaceItem nzType="primary" (click)="coding()">编码</button>
    </nz-space>
</div>
